
.gallery-title
{
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery-login
{
    font-size: 10px;
    color:black;
    text-align: right;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #42B32F;
    margin-bottom: 30px;

}
.cart-button
{
    width: 300px;
    height: 60px;
    font-size: 23px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #42B32F;
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #42B32F;

}
.btm_image
{
    font-size: 20px;
    color: black;
    margin-bottom: 50px;
}
.btn-default:active .filter-button:active
{
    background-color: #42B32F;
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 80px;
}

#modal-wrapper {
    display: none;
  }
  #modal-wrapper #modal-overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3);
  }

  #modal-wrapper #modal-content {
    display: inline-block;
    overflow : auto;
    min-width: 85%;
    max-width: 85%;
    min-height: 60%;
    max-height: 80%;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 30px;
    box-shadow: 0 0 5px #000;
    z-index: 9999;
  }

  #modal-wrapper #modal-content::-webkit-scrollbar {
    width: 3px;
    background-color: #bff5b5;
  }
  #modal-wrapper #modal-content::-webkit-scrollbar-thumb {
    width: 2px;
    background-color: #42B32F;
  }
